.Shop{
    display: grid;
    grid-template-columns: 4fr 1fr;
    padding: 20px;
}
.products-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 25px;
    
}
.cart-header{
    text-align: center;
}
.cart-container{
    background-color: lightgreen;
    padding:5px;
    border-radius: 8px;
}

.pagination{
    margin-left: 200px;
    margin-bottom: 50px;

}
.pagination button{
    margin-left: 20px;
}

.pagination .selected{
    background-color: greenyellow;
    border: gold;
    font-weight: bold;
    width: 40px;
    padding: 10px;
    border-radius: 8px;
}

.review{
    color: white;
    width: 100%;
    padding: 10px;
    margin: 10px;
    border: none;
    background-color: #1C2B35;
    text-align: center;
    border-radius: 5px;
}
.review:hover{
    background-color: steelblue;
    cursor: pointer;
}

/*  */