.header-nav{
    height: 80px;
    background-color: #1C2B35;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 140px;
    padding-right: 140px;
}
.header-nav a{
    color: white;
    text-decoration: none;
    font-size: 17px;
    margin-left: 36px;
}
.header-nav a:hover{
    color: yellow;
}
.header-mail{
    color:rebeccapurple;
    margin-left: 20px;
}
.btn-logout{
    border: none;
    margin-left: 20px;
    background-color: cadetblue;
    padding: 10px;
    border-radius: 5px;
    color: white;
    font-weight: 500;
}